<%- include('../includes/navigation.ejs') %>


<body>

    

    <section class="equipo">
        <h2> Nuestro equipo </h2>

        
        <% if (locals.isAuthenticated && (locals.user.permissionLevel === 'superadmin' || locals.user.permissionLevel === 'admin')) { %>
            <a href="/admin/add-member">
                <div class="opinion" id="equipo-trabajo">
                        <button type="button" class="button-add" id="button-edit">
                            <i class="fas fa-plus"></i>
                        </button>
                    <h3>Añadir un nuevo miembro</h3><br>
                </div>
            </a>  
        <% } %>

        <% for (let tech of techs) { %>

            <div class="opinion" id="equipo-trabajo">
                <!--- BOTÓN DE EDITAR -->
                <% if (locals.isAuthenticated && (locals.user.permissionLevel === 'superadmin' || locals.user.permissionLevel === 'admin')) { %>
                    <form action="/admin/delete-member/<%= tech._id %>" method="post" style="float: right">
                        <input type="hidden" name="techId" value="<%= tech._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="button-add" id="button-edit">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                <% } %>

                <% if (locals.isAuthenticated && (locals.user.permissionLevel === 'superadmin' || locals.user.permissionLevel === 'admin')) { %>
                    <a href="/admin/edit-member/<%= tech._id %>" style="float: right">
                        <button type="button" class="button-add" id="button-edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                <% } %>

                <!--- PERFIL DE LA PERSONA - -->
                <a href="/member/<%= tech._id %>"> 
                    
                    <img src="<%= tech.image %>" alt="Foto de la persona" class="foto">
                    <h3><%= tech.name %></h3><br>
                    <span> <b><%= tech.cargo %></b> <br><br></span>
                    <span class="biografia"> <%= tech.descripcion %> </span>

                </a>
            </div>
        <% } %>



    <h2> Experiencia de nuestros estudiantes </h2>
   
    <% for (let tech of tesistas) { %>

        <div class="opinion" id="equipo-trabajo">
            <!--- BOTÓN DE EDITAR -->
            <% if (locals.isAuthenticated && (locals.user.permissionLevel === 'superadmin' || locals.user.permissionLevel === 'admin')) { %>
                <form action="/admin/delete-member/<%= tech._id %>" method="post" style="float: right">
                    <input type="hidden" name="techId" value="<%= tech._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="button-add" id="button-edit">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            <% } %>

            <% if (locals.isAuthenticated && (locals.user.permissionLevel === 'superadmin' || locals.user.permissionLevel === 'admin')) { %>
                <a href="/admin/edit-member/<%= tech._id %>" style="float: right">
                    <button type="button" class="button-add" id="button-edit">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
            <% } %>

            

            <!--- PERFIL DE LA PERSONA - -->
            <a href="/member/<%= tech._id %>"> 
                <img src="<%= tech.image %>" alt="Foto de la persona" class="foto">
                <h3><%= tech.name %></h3><br>
                <span class="biografia"> <%= tech.descripcion %> </span>
            </a>
        </div>
    <% } %>
    

    <!-- <h2> Colaboradores </h2>-->
   </section> 

</body>

 <!--- FOOTER (PIE DE PÁGINA)-->
 <%- include('../includes/footer') %>
</html>