<%- include('../includes/navigation.ejs') %>

<body class="body-index">
    
    
    <%- include('../auth/control-panel.ejs') %>


    <div class="user-card">

    
        <% if (member.image.startsWith('images')) { %>
            <img src="/<%= member.image %>" alt="Foto de <%= member.name %>" class="user-image">
        <% } else { %>
            <img src="<%= member.image %>" alt="Foto de <%= member.name %>" class="user-image">
        <% } %>

        <div class="user-info">
          <h2 class="user-name"><%= member.name %></h2>
          
          <!-- <p class="user-status">Estado: <%= member.status %></p> -->
          <h4 class="user-cargo"> <%= member.cargo %></h4>
          <p class="user-email">Email: <%= member.email %></p>
          <p class="user-description"> <%= member.descripcion %></p>
          
          <!-- <p class="user-permission">Nivel de Permiso: <%= member.permissionLevel %></p> -->
          
          <br><br><br>
          
            
    


                <% if (posts.length >= 1) { %>
                    <h3>Publicaciones:</h3>
                    <ul class="user-posts">
                        <% posts.forEach(function(post) { %>
                        <li>
                            <a href="/<%= post.url %>" target="_blank"><%= post.title %></a>
                        </li>
                        <% }) %>
                    </ul>
                <% } %>
           
        </div>
      </div>
    
</body>

 <!--- FOOTER (PIE DE PÃGINA)-->
 <%- include('../includes/footer') %>
</html>

<link rel="stylesheet" href="/style/member.css">
