<%- include('../includes/navigation.ejs') %>

<body class="body-index">
    
    
    <% if (locals.isAuthenticated) { %>
        <% if (locals.user._id.toString() === member._id.toString() ) { %>
            <div class="menu-tools">
                <a href="/admin/edit-member/<%= member._id %>" >
                    <button type="button" class="button-add" id="button-menu">
                        <i class="fas fa-edit"> </i>
                    </button>
                    <span>Editar perfil</span>
                </a>

                <% if (locals.user.status === 'admin' ) { %>
       
                    <a href="/post/add-post" >
                        <button type="button" class="button-add" id="button-menu">
                            <i class="fas fa-file-text"></i>
                        </button>
                        <span>Añadir paper</span>
                    </a>
        
                    <a href="/post/add-event" >
                        <button type="button" class="button-add" id="button-menu">
                            <i class="fas fa-calendar-plus"></i>
                        </button>
                        <span>Añadir evento</span>
                    </a>
        
                <% } %>
            </div>
        <% } %>
    <% } %>


        

    
    <div class="user-card">
     
        <img src="/<%= member.image %>" alt="Foto de <%= member.name %>" class="user-image">
        <div class="user-info">
          <h2 class="user-name"><%= member.name %></h2>
          
          <!-- <p class="user-status">Estado: <%= member.status %></p> -->
          <h4 class="user-cargo"> <%= member.cargo %></h4>
          <p class="user-email">Email: <%= member.email %></p>
          <p class="user-description"> <%= member.descripcion %></p>
          
          <!-- <p class="user-permission">Nivel de Permiso: <%= member.permissionLevel %></p> -->
          
          <br><br><br>
          
            <% if (posts.length >= 1) { %>
                <h3>Publicaciones:</h3>
                <ul class="user-posts">
                    <% posts.forEach(function(post) { %>
                    <li>
                        <a href="/<%= post.url %>" target="_blank"><%= post.title %></a>
                    </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h4> - </h4>

            <% } %>
        </div>
      </div>
    
</body>

 <!--- FOOTER (PIE DE PÁGINA)-->
 <%- include('../includes/footer') %>
</html>

<link rel="stylesheet" href="/style/member.css">
