<%- include('../includes/navigation.ejs') %>

    

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<body>

    <div class="container">

        <% if (editing) { %>
            <h2>Editando Miembro</h2>
        <% } else { %>
            <h2>Añadir Nuevo Miembro</h2>
        <% } %>

        
        <form action="/admin/<% if (editing) { %>edit-member<% } else { %>add<% } %>" method="post" enctype="multipart/form-data">
            <!-- Ocultamos la id para después usarla -->
            <label for="memberId" hidden></label>
            <input type="hidden" id="memberId" name="memberId" value="<% if (editing) { %><%= member._id %><% } %>">

            <label for="name">Nombre completo:</label>
            <input type="text" id="name" name="name" 
            placeholder="Introduce el nombre completo"
            value="<% if (editing ) { %><%= member.name %><% } %>"
            class="<%= validationErrors.find(e => e.path === 'name') ? 'invalid' : '' %>" required>
                 
            <label for="email">Email :</label>
            <input type="text" id="email" name="email" 
                value="<% if (editing ) { %><%= member.email %><% } %>" 
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>">

            
                <% if (editing) { %>
                    <label for="email">Contraseña :</label>
                    <input type="password" id="password" name="password" 
                        placeholder="Introduce una nueva contraseña"
                        class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                <% } %>
            
              

            <label for="cargo">Cargo / Ocupación:</label>
            <input type="text" id="cargo" name="cargo" 
            placeholder="Título del que dispone, cargo que ocupa o titulación que está cursando"
            value="<% if (editing ) { %><%= member.cargo %><% } %>" 
            class="<%= validationErrors.find(e => e.path === 'cargo') ? 'invalid' : '' %>">

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="5" required><% if (editing) { %><%= member.descripcion.trim() %><% } %></textarea>

           
            <!-- TÍTULO DE LAS PUBLICACIONES -->
            <label for="posts">Publicaciones:</label>
            <span> Selecciona varias publicaciones pulsando Shift (Mayús) y haciendo click normal --</span>
            <select id="posts" name="posts" multiple>
                <% for (let post of posts) { %>
                    <option value="<%= post._id %>"><%= post.title %></option>
                <% } %>
            </select>
            

            <label for="image"> Url de la imagen (preferiblemente URL de imagen linkedin):</label>
            <input type="text" id="image" name="image" 
                placeholder="Introduce la URL de la imagen"
                value="<% if (editing ) { %><%= member.image %><% } %>" 
                class="<%= validationErrors.find(e => e.path === 'image') ? 'invalid' : '' %>">
            
            <label for="status"> Seleciona el status del miembro:</label>
            <% if (member) { %>
            <select name="status" id="status">
                <option value="tesista" <%= member.status === 'tesista' ? 'selected' : '' %>>Tesista</option>
                <option value="collab" <%= member.status === 'collab' ? 'selected' : '' %>>Colaborador</option>
                <option value="tech" <%= member.status === 'tech' ? 'selected' : '' %>>Técnico</option>
            </select>
            <% } else { %>
                <select name="status" id="status">
                    <option value="tesista">Tesista</option>
                    <option value="collab">Colaborador</option>
                    <option value="tech">Técnico</option>
                    <option value="tech">Alumni</option>
                </select>
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <% if (editing) { %>
                <input type="submit" value="Actualizar">
                
            <% } else { %>
                <input type="submit" value="Añadir">
            <% } %>

            <!-- <% if (editing) { %>
                <form action="/admin/delete-member/<%= member._id %>" method="post" style="display:inline">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" value="Borrar" class="button-delete" style="background-color: rgb(132, 19, 19);">
                </form>
            <% } %> -->

        </form>

       
    
    </div>
            
        


    <%- include('../includes/footer') %>
</body>
    
</html>


<link rel="stylesheet" href="/style/form.css">
<script src="/javascript/scripts.js"></script>

<script>
    $(document).ready(function() {
        $('#author').select2({
            placeholder: 'Selecciona autores',
            allowClear: true
        });
    });
</script>