<%- include('../includes/navigation.ejs') %>

    



<body>

    <div class="container">

        <% if (editing) { %>
            <h2>Editando Miembro</h2>
        <% } else { %>
            <h2>Añadir Nuevo Miembro</h2>
        <% } %>

        
        <form action="/admin/<% if (editing) { %>edit-member<% } else { %>add<% } %>" method="post" enctype="multipart/form-data">
            <!-- Ocultamos la id para después usarla -->
            <label for="memberId" hidden></label>
            <input type="hidden" id="memberId" name="memberId" value="<% if (editing) { %><%= member._id %><% } %>">

            <label for="name">Nombre completo:</label>
            <input type="text" id="name" name="name" value="<% if (editing || hasError) { %><%= member.name %><% } %>" class="<%= validationErrors.find(e => e.path === 'name') ? 'invalid' : '' %>" required>
            
            <label for="email">Email :</label>
            <input type="text" id="email" name="email" 
                value="<% if (editing || hasError) { %><%= member.email %><% } %>" 
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>">

                <% if (editing) { %>
                    <label for="email">Contraseña :</label>
                    <input type="password" id="password" name="password" 
                        value="<%= member.password %>" 
                        class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                <% } %>

            <label for="cargo">Cargo / Ocupación:</label>
            <input type="text" id="cargo" name="cargo" value="<% if (editing || hasError) { %><%= member.cargo %><% } %>" class="<%= validationErrors.find(e => e.path === 'cargo') ? 'invalid' : '' %>">

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="5" required><% if (editing || hasError) { %><%= member.descripcion.trim() %><% } %></textarea>

           
            <div id="bloque-lista">
                <label for="publicaciones">Publicaciones:</label>
                <span>Inserta el título de las publicaciones de este miembro. </span>
                <button type="button" onclick="addClick(this, 'publicaciones')" class="button-add" id="ingr-button">
                    <i class="fas fa-plus"></i>
                </button>
                <% if (editing ) { %>
                    <% if(member.posts.length === 0) { %>
                        <input type="text" name="urlPublicaciones[]" value="" class="input-list">
                    <% } %>
                    <% for (let post of member.posts) { %>
                        <input type="text" name="publicaciones[]" value="<%= post.title %>" class="input-list">
                        <button type="button" onclick="removeClick(this)" class="button-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    <% } %>
                <% } else { %>
                    <input type="text" name="publicaciones[]" value="" 
                    placeholder="Introduce una publicación" class="input-list">
                <% } %>
            </div>


            <div class="bloque-lista">
                <label for="urlPublicaciones">URL de la publicación:</label>
                <span >
                    Inserta la URL de las publicaciones (asegúrate de que aparecen en el mismo orden que están arriba)
                </span>
                <div id="bloque-lista">
                    <button type="button" onclick="addClick(this, 'urlPublicaciones')" class="button-add" id="ingr-button">
                        <i class="fas fa-plus"></i>
                    </button>
                    <% if (editing ) { %>
                        <% if(member.posts.length === 0) { %>
                            <input type="text" name="urlPublicaciones[]" value="" class="input-list">
                        <% } %>
                        <% for (let post of member.posts) { %>
                            <input type="text" name="urlPublicaciones[]" value="<%= post.url %>" class="input-list">
                            <button type="button" onclick="removeClick(this)" class="button-delete" id="ingr-button">
                                <i class="fas fa-minus"></i>
                            </button>
                        <% } %>
                    <% } else { %>
                        <input type="text" name="urlPublicaciones[]" value="" 
                        placeholder="Introduce la primera URL" class="input-list">
                    <% } %>
                </div>
            </div>

            <!-- <label for="file">Imagen:</label>
            <input type="file" name="file" id="file"><br><br><br> -->

            <label for="image"> Url de la imagen (preferiblemente URL de imagen linkedin):</label>
            <input type="text" id="image" name="image" 
                value="<% if (editing || hasError) { %><%= member.image %><% } %>" 
                class="<%= validationErrors.find(e => e.path === 'image') ? 'invalid' : '' %>">
            
            <label for="status"> Seleciona el status del miembro:</label>
            <select name="status" id="status">
                <option value="tesista" selected>tesista</option>
                <option value="collab">collab</option>
                <option value="tech">tech</option>
            </select>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <% if (editing) { %>
                <input type="submit" value="Actualizar">
                
            <% } else { %>
                <input type="submit" value="Añadir">
            <% } %>

            <!-- <% if (editing) { %>
                <form action="/admin/delete-member/<%= member._id %>" method="post" style="display:inline">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" value="Borrar" class="button-delete" style="background-color: rgb(132, 19, 19);">
                </form>
            <% } %> -->

        </form>

       
    
    </div>
            
        


    <%- include('../includes/footer') %>
</body>
    
</html>


<link rel="stylesheet" href="/style/form.css">
<script src="/javascript/scripts.js"></script>